/* Body Styles */
body {
    font-family: "Kranky", sans-serif; 
    font-size: 20px;
    background-color: #f5f5dc; 
    color: #333; 
}
main {
    display: flex;
    max-width: 1200px; 
    margin: 20px auto; 
}
/* Lyrics Section */
main > div:first-of-type {
    flex: 2; 
    padding: 20px; 
}
/* Info Section */
main > div:last-of-type {
    flex: 1; 
    padding: 20px; 
    background-color: rgba(213, 213, 173, 0.945); 
    border-radius: 10px; 
}
/* Section Styles */
section {
    margin-bottom: 20px; 
    text-align: center;
}
/* Header Styles */
header h1 {
    text-align: center; 
    margin-bottom: 20px; 
}
