@charset "utf-8";
html {
	box-sizing: border-box;
}
	*, *::before, *::after {
	box-sizing: inherit;
}
html {
	background: lightgrey url("../images/winter-birch.jpg") no-repeat top left;
	background-size: cover;	
	background-attachment: fixed;
	height: 100%;
	font-family: "Century Gothic", Futura, Helvetica, Arial, sans-serif;
	font-size: 180%;
}
body {
	min-height: 100%;
	color: white;	
}
header {
	/* STEP 1a: Go to https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool */
	/* STEP 1b: Select a HUE using the Hue Slider */
	/* STEP 1c: De-Saturate the colour a bit, reduce the Lightness, and make the colour slightly transparent by adjusting the Alpha. */
	/* STEP 1d: Copy the resulting RGBa value and replace the background-color below */
	background-color: #53407197;
	padding: 1% 10%;
	/* opacity: 0.5; */
}
header h1 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color: white;
	/* STEP 3: Soften the <h1> element text using the opacity property */
	opacity: 1;
}
main {
	padding: 0 10%;
}
main h2 {
	/* STEP 2: Set the <h2> inside the <main> to the same transparent purple, but use the HSLa colour syntax, instead */
	/* color: lch(31 30.57 302.88 / 0.65); */
	/* color: rgb(83 65 114 / 65%); */
	color : hsla(305, 27%, 35%, 0.651);
	/* color: lab(31 16.6 -25.67 / 0.65); */
	font-size: 500%;
	margin: 0;	
	/* color: white; */
}
main p {
	margin-top: 0;
}
footer {
	padding: 0 10%;
}
footer p {
	font-size: 60%;
	/* STEP 4: Set the <footer> element text to the same purple as in step 1 and 2, using a combination of hexadecimal color syntax and opacity. */
	/* color: white; */
	color: hwb(262.04deg 25.32% 55.48% / 65%);
}

/* STEP 5: Adjust the HUE of the background-color of the <header>, the colour of the <h2>, and the colour of the <footer> text to a different value - note that this is more difficult with HEX and RGB colour notation */

/* STEP 6: Convert the footer p element to CIELAB color space using a conversion utility like http://colormine.org/convert/rgb-to-lab */
