@charset "UTF-8";

/*Named Selector
--------------------------------------------------------------------------------------------------------------------------*/
h2 {
    color:red;
    font-style: italic;
}

/*ID Selector
--------------------------------------------------------------------------------------------------------------------------*/
#project {
    color:olive;
}

/*Class Selector
--------------------------------------------------------------------------------------------------------------------------*/
.about{
    background-color: lightgrey;
}
/*Contextual Selector
--------------------------------------------------------------------------------------------------------------------------*/
section p{
    color:darkorange;
}
.subproject p{
    color:darkblue;
}

/*Group Selector
--------------------------------------------------------------------------------------------------------------------------*/
h1, 
h2, 
h3{
    font-family:sans-serif;
}

/*Pseudoclass Selector
--------------------------------------------------------------------------------------------------------------------------*/
a:link{
    text-decoration: none;
    color:darkgreen;
    font-weight:bold;
}
a:visited{
    color:red;
}
a:focus{
    background-color: yellow;
}
a:hover{
    text-decoration: underline;
}
a:active{
    color:darkorange;
}
/*Structural Pseudoclass
--------------------------------------------------------------------------------------------------------------------------*/
li:nth-child(3n-1){
    background-color: white;
}
li:nth-of-type(even){
    font-weight:bold;
}
article section:last-of-type{
    background:lightblue;
}
/*Sibling and Pseudoelement Selector
--------------------------------------------------------------------------------------------------------------------------*/
h1 + p::first-line{
    text-transform: uppercase;
}